@use "../base/typography";


.beer_details{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.back_circle {
    grid-column: 1;
    grid-row: 1;
    z-index: 1
}

.details_wrapper{
    grid-column: 1;
    grid-row: 1;
    padding: 15px;
    display:grid;
    grid-gap: 1em;

}

.beer_header {
    display:grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.beer_header img{
    max-width: 100px ;
    border-radius: 13px;
}




.other_property img{
 max-height: 50px;
 max-width: 50px;
}

.others{
    display:grid;
    grid-gap: 1em;
}

.other_property{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.other_property img{
grid-column: 1;
grid-row: 1;
}

.other_property h2{
    grid-column: 2;
grid-row: 1;
margin-left: 1em;
}

.other_property p{
    grid-column: 1/-1;
grid-row: 2;
}