@use "../base/typography";


.checkout_order_wrapper{
    display:grid;
    grid-gap:3em;
}
.checkout_order_wrapper img{
 max-width: 60px;
 border-radius: 13px;
}

.beer_info{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
}

.checkout_line{
    height: 0.2em;
    width: 100%;
    background: var(--main-typography-color);
    border-radius: 13px;
}

.total_price{
    display:flex;
    justify-content: flex-end;
}

#checkout_buttons{
    margin-top: 20vh
}

.beers_ordered{
    display: grid;
    grid-gap: 1em;
  
}

.beer_ordered{
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:1em;
    align-items: flex-end;
   
}

.beer_ordered div:nth-child(3){
    display:flex;
    justify-content: flex-end;
}