@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-font: "Noto Sans", sans-serif;
  --main-typography-color: rgba(1, 1, 42, 1);
  --bg-header-color: rgba(1, 1, 42, 1);
  --bg-color: rgba(255, 255, 255, 1);
  --card-bg-color: #f8f9fb;
  --btn-color: #3eb6ff;
  --btn-text-color: rgba(255, 255, 255, 1);
  --checkbox-color: #3eb6ff;
  --placeholder-text: #707070;
}
